snippet h1 "Header 1"
# ${1}
endsnippet
	
snippet h2 "Header 2"
## ${1}
endsnippet

snippet h3 "Header 3"
### ${1}
endsnippet

snippet h4 "Header 4"
#### ${1}
endsnippet

snippet img "local image"
![${1:alttext}](${2:link})
endsnippet
	
